.rm__navbar {
    display: flex;
    justify-content: space-evenly;
    background: none;
        width: 100%;
        color: #591E08;
            font-family: var(--font-bold);
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 3px;
            margin-bottom: -6rem;
            padding-top: 4rem;
            z-index: 1;
            
}