.rm__about {display: inline-block;}

.rm__about-image img{ 
    display: flex;
    flex-direction: row;
    width: auto;
    max-height: 430px;
    margin-right: 1%;
    border-radius: 17px;
    cursor: pointer;
    outline: 1px solid #fff;
    outline-style: outset;
    
}

.rm__about-image img:active {
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.39);        
}

.rm__about-image:hover .rm__about-caption{
    visibility: visible;        
}

.rm__about-caption {
    visibility: hidden;
    color: #591E08;
    font-family: var(--font-bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    padding-top: 3%;
}



